<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Library{% endblock %}</title>
    {#{% block stylesheets %}
    {% endblock %}#}
    {#<link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}"/>#}
    {#<link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-theme.min.css') }}"/>#}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/mystyle.css') }}"/>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>
  <body>
    <header>
      <div class="header-img">
	<a href="http://npic.edu.kh/"><img class="img-logo" src="{{asset('img/logo.png')}}"/></a>
	<div class="header-img-filler"><h1>The Library</h1></div>
	<img class="img-books" src="{{asset('img/books.png')}}"/>
      </div>
      <nav class="top-menu">
	<div class="top-menu-element"><a href="/user/login"><span>Log in</span></a></div>
	<div class="top-menu-filler"></div>
	<div class="top-menu-element"><a href="/"><span>Home</span></a></div>
	<div class="top-menu-element"><a href="/book/list"><span>Book list</span></a></div>
	<div class="top-menu-element"><a href="/howto"><span>How to</span></a></div>
	<div class="top-menu-element"><a href="/about"><span>About</span></a></div>
	<div class="top-menu-filler"></div>
	<div class="top-menu-flag"><img src="{{asset('img/uk_flag.png')}}" /></div>
	<div class="top-menu-flag"><img src="{{asset('img/kh_flag.png')}}" /></div>
      </nav>
      <div class="separator-80"></div>
    </header>
    <main>
    {% block body %}{% endblock %}
    </main>
    <footer>
      <p>NPIC Library Manager - Copyright 2017 ©</p>
    </footer>
    {% block javascripts %}
    {% endblock %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/npm.js') }}"></script>
  </body>
</html>
