<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Library{% endblock %}</title>
    {#{% block stylesheets %}
    {% endblock %}#}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}"/>
    {#<link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-theme.min.css') }}"/>#}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/mystyle.css') }}"/>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>
  <body>
  <div
   id="js-vars"
   data-vars="{{ js_vars|json_encode|e('html_attr') }}"></div>
    <header>
      <div class="header-img">
	<a href="http://npic.edu.kh/"><img class="img-logo" src="{{asset('img/logo.png')}}"/></a>
	<div class="header-img-filler"><h1>The Library</h1></div>
	<img class="img-books" src="{{asset('img/books.png')}}"/>
      </div>
      <nav class="top-menu">
	{% if app.session.get('connected') == 'true' %}
	<div class="top-menu-element"><a href="/user/account"><span>Account</span></a></div>
	<div class="top-menu-element"><a href="/user/logout"><span>Log out</span></a></div>
	{% else %}
	<div class="top-menu-element"><a href="/user/login"><span>Log in</span></a></div>
	{% endif %}
	<div class="top-menu-filler"></div>
	<div class="top-menu-element"><a href="/"><span>{% trans %}Home{% endtrans %}</span></a></div>
	<div class="top-menu-element"><a href="/item/list"><span>Item list</span></a></div>
	<div class="top-menu-element"><a href="/howto"><span>How to</span></a></div>
	<div class="top-menu-element"><a href="/about"><span>About</span></a></div>
	<div class="top-menu-filler"></div>
	<div class="top-menu-flag"><a href="{{ path('setlocale', {'language': 'en'}) }}"><img src="{{asset('img/uk_flag.png')}}" /></a></div>
	<div class="top-menu-flag"><a href="{{ path('setlocale', {'language': 'kh'}) }}"><img src="{{asset('img/kh_flag.png')}}" /></a></div>
      </nav>
      <div class="separator-80"></div>
    </header>
    <main>
    {% block body %}
	{% endblock %}
    </main>
    <footer>
      <p>NPIC Library Manager - Copyright 2017 ©</p>
    </footer>
    <script>
      /** InputAddOn width fix **/
      var a = document.getElementsByClassName("InputAddOn-item");
      var most = 0;
      var i;
      for(i = 0; i < a.length; i++){
		     if(a[i].offsetWidth>most&&a[i].parentElement.childElementCount==2){
	most=a[i].offsetWidth;
	}
	}
	for(i = 0; i < a.length; i++){
		       if(a[i].parentElement.childElementCount==2){
		       a[i].style.width=most+"px";
		       }}
		       </script>
	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('js/jquery-3.2.0.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/default.js') }}"></script>
    {% block javascripts %}
    {% endblock %}
  </body>
</html>
