<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Library{% endblock %}</title>
    {#{% block stylesheets %}
    {% endblock %}#}
    {#<link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}"/>#}
    {#<link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-theme.min.css') }}"/>#}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/mystyle.css') }}"/>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>
  <body>
    <header>
      <div class="header-img">
	<img src="{{asset('img/header.jpeg')}}"/>
      </div>
    </header>
    {% block body %}{% endblock %}
    <footer class="footer">
      <div class="container">
        <p class="text-muted">NPIC Library Manager - Copyright 2017 ©</p>
      </div>
    </footer>
    {% block javascripts %}
    {% endblock %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/npm.js') }}"></script>
  </body>
</html>
