{% extends 'base.html.twig' %}

{% block body %}
<article class="article-large-block">
<h1>Welcome to the NPIC's online Library</h1>
<div class="news-block">
  <div class="news-item">
    <div class="intro-table">
      <span>Top 5 Rated books</span>
    </div>
    <div class="table">
      <div class="header row">
		<div class="cell">
		  Title
		</div>
		<div class="cell">
		  Author
		</div>
		<div class="cell">
		  Note
		</div>
      </div>
      {% for top in tops %}
      <div class="row toSelect toSelectItem" id={{top.code}}>
		<div class="cell">
		  {{ top.title }}
		</div>
		<div class="cell">
		  {{ top.author }}
		</div>
		<div class="cell">
		  {{ top.note }}
		</div>
      </div>
      {% endfor %}
    </div>
  </div>
  
  <div class="news-item">
    <div class="intro-table">
      <span>Most borrowed books</span>
    </div>
    <div class="table">
      <div class="header row">
		<div class="cell">
		  Title
		</div>
		<div class="cell">
		  Author
		</div>
		<div class="cell">
		  Category
		</div>
	  </div>
      {% for pop in pops %}
      <div class="row toSelect toSelectItem" id={{pop.code}}>
		<div class="cell">
		  {{ pop.title }}
		</div>
		<div class="cell">
		  {{ pop.author }}
		</div>
		<div class="cell">
		  {{ pop.subject }}
		</div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
</article>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/tables.js') }}"></script>
{% endblock %}