{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
  <div class="panel panel-default table-responsive col-md-5">
    <div class="panel-heading">
      <h3 class="panel-title">Top 5 Rated books</h3>
    </div>
    <table class="table table-striped table-condensed">
      <thead>
	<tr>
	  <td>Title</td>
	  <td>Author</td>
	  <td>Note</td>
	</tr>
      </thead>
      <tbody>
	{% for top in tops %}
	<tr class="toSelect toSelectItem" id={{top.code}}>
	  <td>{{ top.title }}</td>
	  <td>{{ top.author }}</td>
	  <td>{{ top.note }}</td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </div>

  <div class="panel panel-default table-responsive col-md-5 pull-right">
    <div class="panel-heading">
      <h3 class="panel-title">Top 5 Borrowed books</h3>
    </div>
    <table class="table table-striped table-condensed">
      <thead>
	<tr>
	  <td>
	    Title
	  </td>
	  <td>
	    Author
	  </td>
	  <td>
	    Category
	  </td>
	</tr>
      </thead>
      <tbody>
	{% for pop in pops %}
	<tr class="toSelect toSelectItem" id={{pop.code}}>
	  <td>
	    {{ pop.title }}
	  </td>
	  <td>
	    {{ pop.author }}
	  </td>
	  <td>
	    {{ pop.subject }}
	  </td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/tables.js') }}"></script>
{% endblock %}
