{% extends 'base.html.twig' %}

{% block body %}
<article class="article-large-block">
<h1>insert most popular books, best rated books, last books in, and list of categories AND random pick</h1>
<div class="news-block">
  <div class="news-item">
    <div class="intro-table">
      <span>Top 5 Rated books</span>
    </div>
    <div class="table">
      <div class="row header">
	<div class="cell">
	  Title
	</div>
	<div class="cell">
	  Author
	</div>
	<div class="cell">
	  Category
	</div>
      </div>
      {% for top in tops %}
      <div class="row">
	<div class="cell">
	  {{ top.title }}
	</div>
	<div class="cell">
	  {{ top.author }}
	</div>
	<div class="cell">
	  {{ top.subject }}
	</div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="news-item">
    <div class="intro-table">
      <span>Last 5 books added</span>
    </div>
    <div class="table">
      <div class="row header">
	<div class="cell">
	  Title
	</div>
	<div class="cell">
	  Author
	</div>
	<div class="cell">
	  Category
	</div>
      </div>
      {% for last in lasts %}
      <div class="row">
	<div class="cell">
	  {{ last.title }}
	</div>
	<div class="cell">
	  {{ last.author }}
	</div>
	<div class="cell">
	  {{ last.subject }}
	</div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="news-item">
    <div class="intro-table">
      <span>Most borrowed books</span>
    </div>
    <div class="table">
      <div class="row header">
	<div class="cell">
	  Title
	</div>
	<div class="cell">
	  Author
	</div>
	<div class="cell">
	  Category
	</div>
      </div>
      {% for last in lasts %}
      <div class="row">
	<div class="cell">
	  {{ last.title }}
	</div>
	<div class="cell">
	  {{ last.author }}
	</div>
	<div class="cell">
	  {{ last.subject }}
	</div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="news-item">
d
  </div>
  <div class="news-item">
e
  </div>
  <div class="news-item">
f
  </div>
</div>
</article>
{% endblock %}
