{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
  <h1>
    {% if mode == 'add' %}
    Add new member
    {% else %}
    Update member {{code}}
    {% endif %}
  </h1>
  <form action="/admin/added_user/{{mode}}/{{code}}" method="post" class="big-form" onsubmit="return checkForm(this)">
    <div class="row">
      <div class="form-group col-md-6 col-xs-12">
	<div class="input-group">
	  <div class="input-group-addon" for="fname">First Name :</div>
	  <input required type="text" id="fname" name="fname" class="form-control" {% if mode != 'add' %} value="{{ user.getFirstName() }}" {% endif %}/>
	</div>
      </div>
      {% if mode == 'add' %}
      <div class="form-group col-md-6 col-xs-12">
	<div class="input-group">
	  <div class="input-group-addon" for="code">Code :</div>
	  <input required type="text" id="code" name="code" onchange="testCode(this)" class="form-control" />
	</div>
      </div>
      {% endif %}
    </div>
    <div class="row">
      <div class="form-group col-md-6 col-xs-12">
	<div class="input-group">
	  <div class="input-group-addon" for="lname">Last name :</div>
	  <input required type="text" id="lname" name="lname" class="form-control" {% if mode != 'add' %} value="{{ user.getLastName() }}" {% endif %}/>
	</div>
      </div>
      <div class="form-group col-md-6 col-xs-12">
	<div class="input-group">
	  <div class="input-group-addon" for="gender">Gender :</div>
	  <div class="form-control">
	  {% if mode != 'add' %}
		{% if user.getGender() == 'M' %}
			<label class="radio-inline"><input type="radio" selected id="gender" name="gender" value="M"/>Male</label>
			<label class="radio-inline"><input type="radio" id="gender" name="gender" value="F" />Female</label>
		{% else %}
			<label class="radio-inline"><input type="radio" id="gender" name="gender" value="M"/>Male</label>
			<label class="radio-inline"><input type="radio" selected id="gender" name="gender" value="F" />Female</label>
		{% endif %}
	  {% else %}
		<label class="radio-inline"><input type="radio" selected id="gender" name="gender" value="M"/>Male</label>
		<label class="radio-inline"><input type="radio" id="gender" name="gender" value="F" />Female</label>
	  {% endif %}
	  </div>
	</div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6 col-xs-12">
	<div class="input-group">
	  <div class="input-group-addon" for="nid">National ID :</div>
	  <input required type="text" id="nid" name="nid" onchange="testNationalID(this)" class="form-control" {% if mode != 'add' %} value="{{ user.getNationalId() }}" {% endif %}	/>
	</div>
      </div>
      
      <div class="form-group col-md-6 col-xs-12">
	<div class="input-group">
	  <div class="input-group-addon" for="dob">Date of birth :</div>
	  <div class="input-group-addon"for="day">Day:</div>
	  <select class="form-control" id="day" name="day">
	  </select>
	  <div class="input-group-addon" for="month">Month:</div>
	  <select class="form-control" id="month" name="month">
            <option selected>01</option>
            <option>02</option>
            <option>03</option>
            <option>04</option>
            <option>05</option>
            <option>06</option>
            <option>07</option>
            <option>08</option>
            <option>09</option>
            <option>10</option>
            <option>11</option>
            <option>12</option>
	  </select>
	  <div class="input-group-addon" for="year">Year:</div>
	  <select class="form-control" id="year" name="year">
	  </select>
	</div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6 col-xs-12">
	<div class="input-group">
	  <div class="input-group-addon" for="city">City :</div>
	  <input required type="text" id="city" name="city" class="form-control" {% if mode != 'add' %} value="{{ user.getAddress().getCity() }}" {% endif %}/>
	</div>
      </div>
      <div class="form-group col-md-6 col-xs-12">
	<div class="input-group">
	  <div class="input-group-addon" for="home_phone">Home Phone :</div>
	  <input required type="text" id="home_phone" name="home_phone" class="form-control" {% if mode != 'add' %} value="{{ user.getTelHome() }}" {% endif %}/>
	</div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6 col-xs-12">
	<div class="input-group">
	  <div class="input-group-addon" for="pcode">Postal code :</div>
	  <input required type="text" onchange="testPostCode(this)" id="pcode" name="pcode" class="form-control" {% if mode != 'add' %} value="{{ user.getAddress().getPostalCode() }}" {% endif %}/>
	</div>
      </div>
      <div class="form-group col-md-6 col-xs-12">
	<div class="input-group">
	  <div class="input-group-addon" for="ref_phone">Referant Phone :</div>
	  <input required type="text" id="ref_phone" name="ref_phone" class="form-control" {% if mode != 'add' %} value="{{ user.getTelRef() }}" {% endif %}/>
	</div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6 col-xs-12">
	<div class="input-group">
	  <div class="input-group-addon" for="street">Street :</div>
	  <input required type="text" id="street" name="street" class="form-control" {% if mode != 'add' %} value="{{ user.getAddress().getStreet() }}" {% endif %}/>
	</div>
      </div>
      <div class="form-group col-md-6 col-xs-12">
	<div class="input-group">
	  <div class="input-group-addon" for="mob_phone">Mobile Phone :</div>
	  <input required type="text" id="mob_phone" name="mob_phone" class="form-control" {% if mode != 'add' %} value="{{ user.getTelMobile() }}" {% endif %}/>
	</div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6 col-xs-12">
	<div class="input-group">
	  <div class="input-group-addon" for="civsitu">Civil Situation :</div>
	  <select required id="civsitu" name="civsitu" class="form-control">
	  {% if app != 'add' %}
		<option {% if user.getCivilSituation() == 'Single' %} selected {% endif %} value="single" >Single</option>
		<option {% if user.getCivilSituation() == 'Married' %} selected {% endif %} value="married">Married</option>
		<option {% if user.getCivilSituation() == 'Widower' %} selected {% endif %} value="widower">Widower</option>
		<option {% if user.getCivilSituation() == 'Divorced' %} selected {% endif %} value="divorced">Divorced</option>
		<option {% if user.getCivilSituation() == 'Other' %} selected {% endif %} value="other">Other</option>
	  {% else %}
		<option value="single" selected>Single</option>
		<option value="married">Married</option>
		<option value="widower">Widower</option>
		<option value="divorced">Divorced</option>
		<option value="other">Other</option>
	  {% endif %}	    
	  </select>
	</div>
      </div>
      <div class="form-group col-md-6 col-xs-12">
	<div class="input-group">
	  <div class="input-group-addon" for="email">Email :</div>
	  <input required type="text" id="email" onchange="testMail(this)" name="email" class="form-control" {% if mode != 'add' %} value="{{ user.getEmail() }}" {% endif %}/>
	</div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6 col-xs-12">
	<div class="input-group">
	  <div class="input-group-addon" for="fac">Faculty :</div>
	  <select required id="fac" name="fac" class="form-control">
	  {% if mode != 'add' %}
		{% for f in faculties %}
			{% if f.id == user.getFaculty().getId() %}
				<option selected value='{{user.getFaculty().getId()}}'>{{user.getFaculty().getName()}}</option>
			{% else %}
				<option value='{{f.id}}'>{{f.name}}</option>
			{% endif %}
	    {% endfor %}
	  {% else %} 
		{% for f in faculties %}
			<option value='{{f.id}}'>{{f.name}}</option>
	    {% endfor %}
	  {% endif %}
	    
	  </select>
	</div>
      </div>

      <div class="form-group col-md-6 col-xs-12">
	<div class="input-group">
	  <div class="input-group-addon">Position :</div>
	  <div class="form-control">
	  {% if mode != 'add' %}
		{% if user.getStudent() == 1 %}
			<label class="radio-inline"><input type="radio" id="student" name="position" value="student" checked="checked"/>Student</label>
			<label class="radio-inline"><input type="radio" id="staff" name="position" value="staff" />Staff</label>
		{% else %}
			<label class="radio-inline"><input type="radio" id="student" name="position" value="student"/>Student</label>
			<label class="radio-inline"><input type="radio" id="staff" name="position" value="staff" checked="checked"/>Staff</label>
		{% endif %}
	  {% else %}
		<label class="radio-inline"><input type="radio" id="student" name="position" value="student" checked="checked"/>Student</label>
		<label class="radio-inline"><input type="radio" id="staff" name="position" value="staff" />Staff</label>
	  {% endif %}
	  </div>
	</div>
      </div>
    </div>
    <div class="row">
      <fieldset id="student_form" class="col-md-6 col-xs-12">
		<div class="row">
		  <div class="form-group col-md-12 col-xs-12">
			<div class="input-group">
			  <div class="input-group-addon">Major :</div>
			  <select id="major" name="major" class="form-control">
			{% for m in majors %}
			<option value='{{m.getId()}}'>{{m.getName()}}</option>
			{% endfor %}
			  </select>
			</div>
		  </div>
		  <div class="form-group col-md-12 col-xs-12">
			<div class="input-group">
			  <div class="input-group-addon">Degree :</div>
			  <select id="degree" name="degree" class="form-control">
			{% for d in degrees %}
			<option value='{{d.getId()}}'>{{d.getName()}}</option>
			{% endfor %}
			  </select>
			</div>
		  </div>
		</div>
		<div class="row">
		  <div class="form-group col-md-12 col-xs-12">
			<div class="input-group">
			  <div class="input-group-addon">Year :</div>
			  <select id="dyear" name="degree_year" class="form-control">
			{% for y in degYears %}
			<option value='{{y.getId()}}'>{{y.getYear()}}</option>
			{% endfor 
		</div>
      </fieldset>

      <fieldset id="staff_form" disabled  class="col-md-6 col-xs-12">
		<div class="form-group">
		  <div class="input-group">
			<div class="input-group-addon">Function :</div>
			<select id="function" name="function" class="form-control">
			  {% for f in functions %}
			  <option value='{{f.getId()}}'>{{f.getName()}}</option>
			  {% endfor %}
			</select>
		  </div>
		</div>%}
			  </select>
			</div>
		  </div>
      </fieldset>
		</div>
		<div class="row">
		  <div class="form-group col-md-1 col-xs-4 center-block">
		<div class="input-group">
		  <button type="submit" class="btn btn-primary">Submit</button>
		</div>
		  </div>
		</div>
	  </form>
	</div>
{% endblock %}

{% block javascripts %}
<script>
  var r_stu = document.getElementById("student");
  var r_sta = document.getElementById("staff");
  var stud = document.getElementById("student_form");
  var staff = document.getElementById("staff_form");
  r_stu.onclick=function(){ stud.disabled=false; staff.disabled=true; console.log("yolo");};
  r_sta.onclick=function(){ stud.disabled=true; staff.disabled=false; };
</script>
<script src="{{ asset('js/dates.js') }}"></script>
<script src="{{ asset('js/testForms.js') }}"></script>
{% endblock %}
