{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
  <h1 class="col-xs-12 col-md-8 center-block text-center">
    {% if mode == 'add' %}
    Add new administrator
    {% else %}
    Update administrator {{code}}
    {% endif %}
  </h1>
  <form action="/admin/added_admin/{{mode}}/{{code}}" method="post" class="col-xs-12 col-md-10 center-block" onsubmit="return checkForm(this)">
    <div class="row">
      <div class="form-group col-md-6 col-xs-12">
	<div class="input-group">
	  <span class="input-group-addon" for="fname">First Name :</span>
	  <input required type="text" id="fname" name="fname" onchange="testName(this)" class="form-control" {% if mode != 'add' %} value="{{ user.getFirstName() }}" {% endif %}/>
	</div>
      </div>
      {% if mode == 'add' %}
      <div class="form-group col-md-6 col-xs-12">
	<div class="input-group">
	  <span class="input-group-addon" for="username">Username :</span>
	  <input required type="text" id="username" name="username" class="form-control" />
	</div>
      </div>
      {% endif %}
    </div>
    <div class="row">
      <div class="form-group col-md-6 col-xs-12">
	<div class="input-group">
	  <span class="input-group-addon" for="lname">Last name :</span>
	  <input required type="text" id="lname" name="lname" onchange="testName(this)" class="form-control" {% if mode != 'add' %} value="{{ user.getLastName() }}" {% endif %}/>
	</div>
      </div>
      <div class="form-group col-md-6 col-xs-12">
	<div class="input-group">
	  <div class="input-group-addon" for="gender">Gender :</div>
	  <div class="form-control">
	  {% if mode != 'add' %}
	    {% if user.getGender() == 'M' %}
	    <label class="radio-inline"><input type="radio" checked="checked" id="gender" name="gender" value="M"/>Male</label>
	    <label class="radio-inline"><input type="radio" id="gender" name="gender" value="F" />Female</label>
	    {% else %}
	    <label class="radio-inline"><input type="radio" id="gender" name="gender" value="M"/>Male</label>
	    <label class="radio-inline"><input type="radio" checked="checked" id="gender" name="gender" value="F" />Female</label>
	    {% endif %}
	  {% else %}
	    <label class="radio-inline"><input type="radio" checked="checked" id="gender" name="gender" value="M"/>Male</label>
	    <label class="radio-inline"><input type="radio" id="gender" name="gender" value="F" />Female</label>
	  {% endif %}
		</div>
	</div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6 col-xs-12">
	<div class="input-group">
	  <div class="input-group-addon" for="city">City :</div>
	  <input required type="text" id="city" name="city" onchange="testCity(this)" class="form-control" {% if mode != 'add' %} value="{{ user.getAddress().getCity() }}" {% endif %}/>
	</div>
      </div>
      <div class="form-group col-md-6 col-xs-12">
	<div class="input-group">
	  <div class="input-group-addon" for="phone">Phone :</div>
	  <input required type="text" id="phone" name="phone" class="form-control" {% if mode != 'add' %} value="{{ user.getTel() }}" {% endif %} />
	</div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6 col-xs-12">
	<div class="input-group">
	  <div class="input-group-addon" for="street">Street :</div>
	  <input required type="text" id="street" name="street" class="form-control" {% if mode != 'add' %} value="{{ user.getAddress().getStreet() }}" {% endif %}/>
	</div>
      </div>
      <div class="form-group col-md-6 col-xs-12">
	<div class="input-group">
	  <div class="input-group-addon" for="email">Email :</div>
	  <input required type="text" id="email" onchange="testMail(this)" name="email" class="form-control" {% if mode != 'add' %} value="{{ user.getEmail() }}" {% endif %}/>
	</div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6 col-xs-12">
	<div class="input-group">
	  <div class="input-group-addon" for="pcode">Postal code :</div>
	  <input required type="text" onchange="testPostCode(this)" id="pcode" name="pcode" class="form-control" {% if mode != 'add' %} value="{{ user.getAddress().getPostalCode() }}" {% endif %} />
	</div>
      </div>
      {% if mode == 'add' %}
      <div class="form-group col-md-6 col-xs-12">
	<div class="input-group">
	  <div class="input-group-addon" for="password">Password :</div>
	  <input required type="text" id="password" name="password" class="form-control" />
	</div>
      </div>
      {% endif %}
    </div>
    <div class="row">
      <div class="form-group col-md-1 col-xs-4 center-block">
	<div class="input-group">
	  <button type="submit" class="btn btn-primary">Submit</button>
	</div>
      </div>
    </div>
  </form>
</article>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/testForms.js') }}"></script>
{% endblock %}
