
{% extends 'base.html.twig' %}

{% block body %}

<article class="item-list">

<div class="table" id="table">
    <div class="row header">
      <div class="cell">
        Code
      </div>
      <div class="cell">
        First name
      </div>
      <div class="cell">
        Last name
      </div>
      <div class="cell">
        Activity
      </div>
    </div>
	{% for member in members %}
	<div class="row toSelect toSelectUser" id={{member.code}}>
		<div class="cell">
			{{member.code}}
		</div>
		<div class="cell">
			{{member.first_name}}
		</div>
		<div class="cell">
			{{member.last_name}}
		</div>
		<div class="cell">
			{% if member.disable == 0 %}
				<p>Active</p>
			{% else %}
				<p>Inactive</p>
			{% endif %}
		</div>
		<div class="cell">
			<a href="/user/bookings/{{member.code}}"><button>Check bookings</button></a>
		</div>
	</div>
{% endfor %}
</div>

{% if page>1 %}
	<button value="{{page-1}}" class="InputAddOn-item checkMemberButton" id="prev" type="submit">Previous</button>
{% endif %}
{% if page<page_max %}
	<button value="{{page+1}}" class="InputAddOn-item checkMemberButton" id="next" type="submit">Next</button>
{% endif %}


</article>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/ajax.js') }}"></script>
<script src="{{ asset('js/tables.js') }}"></script>
{% endblock %}
