
{% extends 'base.html.twig' %}

{% block body %}

<div class="navbar navbar-inverse navbar-static-top" style="margin-top:-20px;">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar2" aria-expanded="false" aria-controls="navbar2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/admin/checkAllLibs">List of librarians</a>
    </div>
    <div id="navbar2" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
	
      </ul>
      <form class="checkLibForm navbar-form navbar-right inline-form " action="/admin/checkAllLibs" method="post">
        <div class="form-group">
	  <div class="input-group">
	    <label class="input-group-addon" for="category">Username :</label>
	    <input type="text" name="username" class="input-sm form-control" placeholder="Username">
	  </div>
	  <div class="input-group">
	    <label class="input-group-addon" for="type">First name :</label>
	    <input type="text" name="fname" class="input-sm form-control" placeholder="First name">	    
	  </div>
	  <div class="input-group">
	    <label class="input-group-addon" for="language">Last name:</label>
	    <input type="text" name="lname" class="input-sm form-control" placeholder="Last name">	    
	  </div>
          <button type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-eye-open"></span> Search</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <div class="panel panel-default table-responsive">
    <div class="panel-heading">
      <h3 class="panel-title">List of users</h3>
    </div>
    <table class="table table-striped table-condensed panel-body">
      <thead>
	<tr>
	  <td>
            Username
	  </td>
	  <td>
            First name
	  </td>
	  <td>
            Last name
	  </td>
	  <td>
            Activity
	  </td>
	</tr>
      </thead>
      <tbody>
	{% for lib in libs %}
	<tr class="toSelect toSelectUser" id="{{lib.username}}">
	  <td>
	    {{lib.username}}
	  </td>
	  <td>
	    {{lib.first_name}}
	  </td>
	  <td>
	    {{lib.last_name}}
	  </td>
	  <td>
	    {% if lib.disable == 0 %}
	    <span class="label label-success">Active</span>
	    {% else %}
	    <span class="label label-warning">Inactive</span>
	    {% endif %}
	  </td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
    <div class="panel-footer clearfix">
      <div class="ajaxButtons">
	{% if page>1 %}
	<button value="{{page-1}}" class="btn btn-primary center-block checkLibButton previous"><span class="glyphicon glyphicon-backward"></span> Previous</button>
	{% endif %}
	{% if page<page_max %}
			    <button value="{{page+1}}" class="btn btn-primary center-block checkLibButton next"><span class="glyphicon glyphicon-forward"></span> Next</button>{% endif %}
      </div>
    </div>
  </div>
</div>


{% endblock %}


{% block javascripts %}
<script src="{{ asset('js/ajax.js') }}"></script>
<script src="{{ asset('js/tables.js') }}"></script>
{% endblock %}
