
{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
  <div class="panel panel-default table-responsive">
    <div class="panel-heading">
      <h3 class="panel-title">List of users</h3>
    </div>
    <table class="table table-striped table-condensed panel-body">
      <thead>
	<tr>
      <td>
        Code
      </td>
      <td>
        First name
      </td>
      <td>
        Last name
      </td>
      <td>
        Activity
      </td>
      </tr>
      </thead>
	{% for member in members %}
	<div class="row toSelect toSelectUser" id={{member.code}}>
		<div class="cell">
			{{member.code}}
		</div>
		<div class="cell">
			{{member.first_name}}
		</div>
		<div class="cell">
			{{member.last_name}}
		</div>
		<div class="cell">
			{% if member.disable == 0 %}
				<p>Active</p>
			{% else %}
				<p>Inactive</p>
			{% endif %}
		</div>
		<div class="cell">
			<a href="/user/bookings/{{member.code}}"><button class="InputAddOn-item" >Check bookings</button></a>
		</div>
	</div>
{% endfor %}
</div>

{% if page>1 %}
	<button value="{{page-1}}" class="InputAddOn-item checkMemberButton" id="prev" type="submit">Previous</button>
{% endif %}
{% if page<page_max %}
	<button value="{{page+1}}" class="InputAddOn-item checkMemberButton" id="next" type="submit">Next</button>
{% endif %}


</div>>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/ajax.js') }}"></script>
<script src="{{ asset('js/tables.js') }}"></script>
{% endblock %}
