
{% extends 'base.html.twig' %}

{% block body %}

<nav class="menu-list">
  <form class="menu-list-search bookingsForm" action="/admin/checkBookings" method="post">
	<div class="menu-list-element">
      <input class="InputAddOn-field" placeholder="Transaction ID" type="text" name="t_id">
	</div>
	<div class="menu-list-element">
      <input class="InputAddOn-field" placeholder="Member Code" type="text" name="m_code">
	</div>
	<div class="menu-list-element">
      <input class="InputAddOn-field" placeholder="Item title" type="text" name="i_title">
	</div>
	<div class="menu-list-element">
		State : <br/>
		<select name="state">
			<option value="" selected>All</option>
			<option value="Booked">Booked</option>
			<option value="Borrowed">Borrowed</option>
			<option value="Lost">Lost</option>
			<option value="Finished">Finished</option>
		</select>
	</div>
    <div class="InputAddOn-item" for="from">Borrow date :</div>
	<div class="InputAddOn">
	  <div class="InputAddOn-item"for="day">Day:</div>
        <select class="InputAddOn-field" id="day" name="day">
        </select>
	</div>	
	<div class="InputAddOn">
      <div class="InputAddOn-item" for="month">Month:</div>
        <select class="InputAddOn-field" id="month" name="month">
          <option selected>01</option>
          <option>02</option>
          <option>03</option>
          <option>04</option>
          <option>05</option>
          <option>06</option>
          <option>07</option>
          <option>08</option>
          <option>09</option>
          <option>10</option>
          <option>11</option>
          <option>12</option>
        </select>
	</div>	
	<div class="InputAddOn">
		<div class="InputAddOn-item" for="year">Year:</div>
        <select class="InputAddOn-field" id="year" name="year">
        </select>
	</div>
	<div class="menu-list-element">
      <button class="InputAddOn-item" type="submit">Search</button>
	</div>
  </form>
</nav>

<article class="item-list">

<div class="tableBookings table" id="table">
    <div class="row header">
      <div class="cell">
        Transaction ID
      </div>
      <div class="cell">
        Member code
      </div>
	  <div class="cell">
        Item title
      </div>
      <div class="cell">
        Borrow date
      </div>
      <div class="cell">
        Date to return
      </div>		
	  <div class="cell">
		State
	  </div>
    </div>
	{% for transaction in trans %}
	<div class="row toSelect toSelectTrans" id={{transaction.getId()}}>
		<option hidden id="memberCodeTransaction" value="{{transaction.getMember().getCode()}}"></option>
		<div class="cell">
			{{transaction.getId()}}
		</div>
		<div class="cell">
			{{transaction.getMember().getCode()}}
		</div>
		<div class="cell">
			{{transaction.getItem().getTitle()}}
		</div>
		<div class="cell">
			{{transaction.getBorrowDate()|date('d-m-Y')}}
		</div>
		<div class="cell">
			{{transaction.getToReturnDate()|date("d-m-Y") }}
		</div>
		<div class="cell">
			{{transaction.getState()}}
		</div>
	</div>
{% endfor %}
</div>

{% if page>1 %}
	<button id="prev" value="{{page-1}}" class="InputAddOn-item checkLogsButton" type="submit">Previous</button>
{% endif %}
{% if page<page_max %}
	<button id="next" value="{{page+1}}" class="InputAddOn-item checkLogsButton" type="submit">Next</button>
{% endif %}


</article>
{% endblock %}


{% block javascripts %}
<script src="{{ asset('js/dates.js') }}"></script>
<script src="{{ asset('js/ajax.js') }}"></script>
<script src="{{ asset('js/tables.js') }}"></script>
{% endblock %}
