
{% extends 'base.html.twig' %}

{% block body %}
<article class="article-text-block">
  <div class="profil-picture">
	<img src="{{ asset('uploads/avatars/' ~  avatar) }}"  width="280px;" height="280px;"/>
	{{ form_start(form) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}
  </div>
  <div class="InputAddOn">
    <a href="/user/general_infos/{% if app.session.get('isAdmin') %}
	{{ app.session.get('user').getUsername() }}
	{% else %}
	{{ app.session.get('user').getCode() }}
	{% endif %}"><button class="InputAddOn-item">General informations</button></a>
  </div>  
{% if app.session.get('isAdmin') == false %}
  <div class="InputAddOn">
    <a href="/user/bookings/{{app.session.get('user').getCode()}}"><button class="InputAddOn-item">Check my bookings</button></a>
	</div>
{% endif %}
	<div class="InputAddOn">
    <a href="/user/changepass"><button class="InputAddOn-item">Change my password</button></a>
  </div>
</article>
{% endblock %}
