
{% extends 'base.html.twig' %}

{% block body %}
<article class="article-text-block">
  <div class="profil-picture">
	<img src="{{ asset('uploads/avatars/' ~  data['avatar']) }}"  width="280px;" height="280px;"/>
	{% if attribute(data, "form") is defined %}
		{{ form_start(data['form']) }}
		{{ form_widget(data['form']) }}
		{{ form_end(data['form']) }}
	{% endif %}
  </div>
  <div class="InputAddOn">
    <a href="/user/general_infos/
		{% if data['isMember'] %}
			{{ data['user'].getCode() }}
		{% else %}
			{{ data['user'].getUsername() }}
		{% endif %}
	"><button class="InputAddOn-item">General informations</button></a>
  </div>  
{% if app.session.get('isAdmin') == false %}
	<div class="InputAddOn">
		<a href="/user/bookings/{{data['user'].getCode()}}"><button class="InputAddOn-item">Check my bookings</button></a>
	</div>
{% else %}
	<div class="InputAddOn">
		<a href="/admin/
		{% if data['isMember'] %}
			add_user
		{% else %}
			add_admin
		{% endif %}
		/update/
		{% if data['isMember'] %}
			{{ data['user'].getCode() }}
		{% else %}
			{{ data['user'].getUsername() }}
		{% endif %}
		"><button class="InputAddOn-item">Update informations</button></a>
	</div>
{% endif %}
	<div class="InputAddOn">
    <a href="/user/changepass"><button class="InputAddOn-item">Change my password</button></a>
  </div>
</article>
{% endblock %}
