
{% extends 'base.html.twig' %}

{% block body %}

<article class="item-list">
	<h1>Details of transaction</h1>
	<input hidden value="{{app.session.get('isAdmin')}}" id='isAdmin'></input>
	<div class="item-info-list">
  
		<div class="item-info">Transaction ID : {{ transaction.getId() }}</div>
		<div class="item-info">Item Id :<a href="/item/read/{{ transaction.getItem().getCode() }}">{{ transaction.getItem().getCode() }}</a></div>
		<div class="item-info">Member Id :<a href="/user/account/{{ transaction.getMember().getCode() }}">{{ transaction.getMember().getCode() }}</a></div>
		<div class="item-info">Borrow date : 
			{% if transaction.getBorrowDate() == NULL %}
			Not borrowed yet
			{% else %}
			{{transaction.getBorrowDate()|date('d-m-Y')}}
			{% endif %}
		</div>
		<div class="item-info">To Return date :
			{% if transaction.getToReturnDate() == NULL %}
			Not borrowed yet
			{% else %}
			{{transaction.getToReturnDate()|date("d-m-Y") }}
			{% endif %}
		</div>
		<div class="item-info">Return date :
			{% if transaction.getReturnDate() == NULL %}
			Not gave back yet
			{% else %}
			{{transaction.getReturnDate()|date("d-m-Y") }}
			{% endif %}
		</div>
		<div class="item-info">Librarian who processed the borrow : 
			{% if transaction.getLibForBorrow() == NULL %}
			Not borrowed yet
			{% else %}
			<a href="/user/account/{{ transaction.getLibForBorrow().getUsername() }}">{{transaction.getLibForBorrow().getUsername() }}</a>
			{% endif %}
		</div>
		<div class="item-info">Librarian who processed the return : 
			{% if transaction.getLibForReturn() == NULL %}
			Not gave back yet
			{% else %}
			<a href="/user/account/{{ transaction.getLibForReturn().getUsername() }}">{{transaction.getLibForReturn().getUsername() }}</a>
			{% endif %}
		</div>
		<div class="item-info">Fine to pay : {{ transaction.getFineToPay() }} USD</div>
		<div class="item-info">State : {{ transaction.getState() }}</div>
		{% if transaction.getNote() != '' %}
			<div class="item-info">Comment : {{ transaction.getNote() }}</div>
		{% endif %}
		{% if app.session.get('isAdmin') %}
			<form action="/admin/changeTransactionState/{{transaction.getId()}}" method="post" onsubmit="return testForm(this)" class="big-form">
				<div class="InputAddOn">
					<div class="InputAddOn-item" >Change State :</div> 
					<div class="InputAddOn-field">
						<select name="state">
							<option value="Lost">Lost</option>
							<option value="Booked">Booked</option>
							<option value="Borrowed">Borrowed</option>
							<option value="Finished">Finished</option>
						</select>
					</div>
				</div>
				<div class="InputAddOn">
					<div class="InputAddOn-item" >Fine cost per day (in $)</div>
					<div class="InputAddOn-field"><input type="number" name="fineCost"></div>
				</div>
				<div class="InputAddOn submit-login">
					<button type="submit" id="submit" class="InputAddOn-item">Submit</button>
				</div>
			</form>
		{% endif %}
	</div>
</article>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('js/tables.js') }}"></script>
<script src="{{ asset('js/ajax.js') }}"></script>
{% endblock %}