
{% extends 'base.html.twig' %}

{% block body %}

<div class="tableBookings table">
    <div class="row header">
      <div class="cell">
        Transaction ID
      </div>
      <div class="cell">
        Item title
      </div>
      <div class="cell">
        Borrow date
      </div>
      <div class="cell">
        Date to return
      </div>		
	  <div class="cell">
		Fine to pay
	  </div>
    </div>
	{% for transaction in bookings %}
	<div class="row toSelect" id={{transaction.getItem().getCode()}}>
		<div class="cell">
			{{transaction.getId()}}
		</div>
		<div class="cell">
			{{transaction.getItem().getTitle()}}
		</div>
		<div class="cell">
			{{transaction.getBorrowDate()|date('d-m-Y')}}
		</div>
		<div class="cell">
			{{transaction.getBorrowDate()|date_modify("+14 day")|date("d-m-Y") }}
		</div>
		<div class="cell">
			{{transaction.getFineCostPerDay()}} USD
		</div>
	</div>
{% endfor %}
</div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/tables.js') }}"></script>
{% endblock %}