
{% extends 'base.html.twig' %}

{% block body %}

<div class="tableBookings">
    <div class="row header">
      <div class="cell">
        Transaction ID
      </div>
      <div class="cell">
        Item title
      </div>
      <div class="cell">
        Borrow date
      </div>
      <div class="cell">
        Date to return
      </div>		
	  <div class="cell">
		Fine to pay
	  </div>
    </div>
	{% for item in bookings %}
	<div class="row">
		<div class="cell">
			{{item.getId()}}
		</div>
		<div class="cell">
			{{item.getItem().getTitle()}}
		</div>
		<div class="cell">
			{{item.getBorrowDate()|date('d-m-Y')}}
		</div>
		<div class="cell">
			{{item.getBorrowDate()|date_modify("+14 day")|date("d-m-Y") }}
		</div>
		<div class="cell">
			{{item.getFineCostPerDay()}} USD
		</div>
	</div>
{% endfor %}
</div>
{% endblock %}