
{% extends 'base.html.twig' %}

{% block body %}

<div class="container well well-md">
  <h1 class="col-md-4 center-block">Details of transaction</h1>
  <input hidden value="{{app.session.get('isAdmin')}}" id='isAdmin' />
  <div class="col-xs-12 col-md-8 center-block">
    
    <div class="col-xs-12 col-md-6">Transaction ID : {{ transaction.getId() }}</div>
    <div class="col-xs-12 col-md-6">Item Id :<a href="/item/read/{{ transaction.getItem().getCode() }}">{{ transaction.getItem().getCode() }}</a></div>
    <div class="col-xs-12 col-md-6">Member Id :<a href="/user/account/{{ transaction.getMember().getCode() }}">{{ transaction.getMember().getCode() }}</a></div>
    <div class="col-xs-12 col-md-6">Borrow date : 
      {% if transaction.getBorrowDate() == NULL %}
      Not borrowed yet
      {% else %}
      {{transaction.getBorrowDate()|date('d-m-Y')}}
      {% endif %}
    </div>
    <div class="col-xs-12 col-md-6">To Return date :
      {% if transaction.getToReturnDate() == NULL %}
      Not borrowed yet
      {% else %}
      {{transaction.getToReturnDate()|date("d-m-Y") }}
      {% endif %}
    </div>
    <div class="col-xs-12 col-md-6">Return date :
      {% if transaction.getReturnDate() == NULL %}
      Not gave back yet
      {% else %}
      {{transaction.getReturnDate()|date("d-m-Y") }}
      {% endif %}
    </div>
    <div class="col-xs-12 col-md-6">Librarian who processed the borrow : 
      {% if transaction.getLibForBorrow() == NULL %}
      Not borrowed yet
      {% else %}
      <a href="/user/account/{{ transaction.getLibForBorrow().getUsername() }}">{{transaction.getLibForBorrow().getUsername() }}</a>
      {% endif %}
    </div>
    <div class="col-xs-12 col-md-6">Librarian who processed the return : 
      {% if transaction.getLibForReturn() == NULL %}
      Not gave back yet
      {% else %}
      <a href="/user/account/{{ transaction.getLibForReturn().getUsername() }}">{{transaction.getLibForReturn().getUsername() }}</a>
      {% endif %}
    </div>
    <div class="col-xs-12 col-md-6">Fine to pay : {{ transaction.getFineToPay() }} USD</div>
    <div class="col-xs-12 col-md-6">State : {{ transaction.getState() }}</div>
    {% if transaction.getNote() != '' %}
    <div class="col-xs-12 col-md-6">Comment : {{ transaction.getNote() }}</div>
    {% endif %}
    {% if app.session.get('isAdmin') %}
    <form action="/admin/changeTransactionState/{{transaction.getId()}}" method="post" onsubmit="return testForm(this)" class="inline-form">
      <div class="form-group col-xs-12 col-md-6">
		<div class="input-group">
			<div class="input-group-addon" >Fine cost per day (in $)</div>
				<input type="number" name="fineCost" class="form-control">
		</div>
      </div>
      <div class="form-group col-xs-12 col-md-6">
		<div class="input-group">
			<div class="input-group-addon" >Change State :</div>
			<select name="state" class="form-control">
				<option value="Lost">Lost</option>
				<option value="Booked">Booked</option>
				<option value="Borrowed">Borrowed</option>
				<option value="Finished">Finished</option>
			</select>
		</div>
      </div>
      <div class="form-group col-xs-12 col-md-6">
		<div class="input-group">
			<button type="submit" id="submit" class="btn btn-primary">Submit</button>
		</div>
      </div>
    </form>
    {% endif %}
  </div>
</div>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('js/tables.js') }}"></script>
<script src="{{ asset('js/ajax.js') }}"></script>
{% endblock %}
