
{% extends 'base.html.twig' %}

{% block body %}

<div class="tableBookings table">
    <div class="row header">
      <div class="cell">
        Transaction ID
      </div>
      <div class="cell">
        Item title
      </div>
      <div class="cell">
        Borrow date
      </div>
      <div class="cell">
        Date to return
      </div>
	  <div class="cell">
        Return date
      </div>
	  <div class="cell">
		State
	  </div>
    </div>
	{% for transaction in bookings %}
	<div class="row toSelect toSelectTrans" id={{transaction.getId()}}>
		<option hidden id="memberCodeTransaction" value="{{transaction.getMember().getCode()}}"></option>
		<div class="cell">
			{{transaction.getId()}}
		</div>
		<div class="cell">
			{{transaction.getItem().getTitle()}}
		</div>
		<div class="cell">
			{% if transaction.getBorrowDate() == NULL %}
			Not borrowed yet
			{% else %}
			{{transaction.getBorrowDate()|date('d-m-Y')}}
			{% endif %}
		</div>
		<div class="cell">
			{% if transaction.getToReturnDate() == NULL %}
			Not borrowed yet
			{% else %}
			{{transaction.getToReturnDate()|date("d-m-Y") }}
			{% endif %}
		</div>
		<div class="cell">
			{% if transaction.getReturnDate() == NULL %}
			Not gave back yet
			{% else %}
			{{transaction.getReturnDate()|date("d-m-Y") }}
			{% endif %}
		</div>
		<div class="cell">
			{{transaction.getState()}}
		</div>
	</div>
{% endfor %}
</div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/tables.js') }}"></script>
{% endblock %}