{% extends 'base.html.twig' %}	

{% block body %}

<article class="article-text-block">
	<h1>General informations</h1>
	{% if isMember==false %}
		<div class="InputAddOn">
			<div class="InputAddOn-item" >Username:</div>
			<input disabled value="{{user.getUsername()}}"/>
		</div>
	{% else %}
		<div class="InputAddOn">
			<div class="InputAddOn-item" >Code:</div>
			<input disabled value="{{user.getCode()}}"/>
		</div>
	{% endif %}
	<div class="InputAddOn">
		<div class="InputAddOn-item" >Firstname:</div>
    	<input disabled value="{{user.getFirstName()}}"/>
	</div>
	<div class="InputAddOn">
		<div class="InputAddOn-item" >Lastname:</div>
    	<input disabled value="{{user.getLastName()}}"/>
	</div>
	<div class="InputAddOn">
		<div class="InputAddOn-item" >Email:</div>
    	<input disabled value="{{user.getEmail()}}"/>
	</div>
	<div class="InputAddOn">
		<div class="InputAddOn-item" >Gender:</div>
    	<input disabled value="{{user.getGender()}}"/>
	</div>
	<div class="InputAddOn">
		<div class="InputAddOn-item" >City:</div>
    	<input disabled value="{{user.getAddress().getCity()}}"/>
	</div>
	<div class="InputAddOn">
		<div class="InputAddOn-item" >Postal code:</div>
    	<input disabled value="{{user.getAddress().getPostalCode()}}"/>
	</div>
	<div class="InputAddOn">
		<div class="InputAddOn-item" >Street:</div>
    	<input disabled value="{{user.getAddress().getStreet()}}"/>
	</div>
	{% if isMember==false %}
		<div class="InputAddOn">
			<div class="InputAddOn-item" >Tel:</div>
			<input disabled value="{{user.getTel()}}"/>
		</div>
		<div class="InputAddOn">
			<div class="InputAddOn-item" >Hire date:</div>
			<input disabled value="{{user.getHireDate()|date('Y-m-d')}}"/>
		</div>
	{% else %}
		<div class="InputAddOn">
			<div class="InputAddOn-item" >National ID:</div>
			<input disabled value="{{user.getNationalId()}}"/>
		</div>
		<div class="InputAddOn">
			<div class="InputAddOn-item" >Civil situation:</div>
			<input disabled value="{{user.getCivilSituation()}}"/>
		</div>
		<div class="InputAddOn">
			<div class="InputAddOn-item" >Date of birth:</div>
			<input disabled value="{{user.getDob()|date('Y-m-d')}}"/>
		</div>
		<div class="InputAddOn">
			<div class="InputAddOn-item" >Tel mobile:</div>
			<input disabled value="{{user.getTelMobile()}}"/>
		</div>
		<div class="InputAddOn">
			<div class="InputAddOn-item" >Tel home:</div>
			<input disabled value="{{user.getTelHome()}}"/>
		</div>
		<div class="InputAddOn">
			<div class="InputAddOn-item" >Tel ref:</div>
			<input disabled value="{{user.getTelRef()}}"/>
		</div>
		<div class="InputAddOn">
			<div class="InputAddOn-item" >Entry date:</div>
			<input disabled value="{{user.getEntryDate()|date('Y-m-d')}}"/>
		</div>
		{% if user.getStudent() %}
			<div class="InputAddOn">
				<div class="InputAddOn-item" >Major:</div>
				<input disabled value="{{user.getMajor().getName()}}"/>
			</div>
			<div class="InputAddOn">
				<div class="InputAddOn-item" >Degree:</div>
				<input disabled value="{{user.getDegree().getName()}}"/>
			</div>
			<div class="InputAddOn">
				<div class="InputAddOn-item" >Degree year:</div>
				<input disabled value="{{user.getDegreeYear().getYear()}}"/>
			</div>
		{% else %}
			<div class="InputAddOn">
				<div class="InputAddOn-item" >Function:</div>
				<input disabled value="{{user.getFunction().getName()}}"/>
			</div>
		{% endif %}
		<div class="InputAddOn">
			<div class="InputAddOn-item" >Faculty:</div>
			<input disabled value="{{user.getFaculty().getName()}}"/>
		</div>
	{% endif %}
	{% if isAdmin %}
		{% if isMember == false %}
			{% if user.getUsername() != app.session.get('user').getUsername() %}
				{% if user.getDisable()==0 %}
					<div class="InputAddOn">	
						<a href="/admin/disable_user/
							{{user.getUsername()}}
						"><button class="InputAddOn-item">Disable</button></a>
					</div>	
				{% else %}
					<div class="InputAddOn">	
						<a href="/admin/reactivate_user/
							{{user.getUsername()}}
						"><button class="InputAddOn-item">Reactivate</button></a>
					</div>
				{% endif %}
			{% endif %}
		{% else %}
			{% if user.getDisable()==0 %}
				<div class="InputAddOn">	
					<a href="/admin/disable_user/
						{{user.getCode()}}
					"><button class="InputAddOn-item">Disable</button></a>
				</div>	
			{% else %}
				<div class="InputAddOn">	
					<a href="/admin/reactivate_user/
						{{user.getCode()}}
					"><button class="InputAddOn-item">Reactivate</button></a>
				</div>
			{% endif %}
		{% endif %}
	{% endif %}
</article>

{% endblock %}