{% extends 'base.html.twig' %}

{% block body %}
<article class="article-text-block">
  <h1>
  {% if mode == 'add' %}
	Add new (unique) item
  {% else %}
	Update item {{code}}
  {% endif %}
  </h1>
  <form action="/item/created/{{mode}}/{{code}}" method="post" onsubmit="return checkFormItem(this)" class="big-form" autocomplete="on">
	{% if mode == 'add' %}
		<div class="InputAddOn">
		  <div class="InputAddOn-item" >Code</div>
		  <input required type="text" name="code" onchange="testCodeItem(this)" class="InputAddOn-field">
		</div>
	{% endif %}
    <div class="InputAddOn">
      <div class="InputAddOn-item" >Title</div>
      <input required type="text" onchange="testCity(this)" name="title" class="InputAddOn-field">
    </div>
    <div class="InputAddOn">
      <div class="InputAddOn-item" >Author</div>
      <input required type="text" onchange="testName(this)" name="author" class="InputAddOn-field">
    </div>
    <div class="InputAddOn">
      <div class="InputAddOn-item" >Publication year</div>
      <input required type="number" onchange="testPubYear(this)" name="publication_year" class="InputAddOn-field">
    </div>
    <div class="InputAddOn">
      <div class="InputAddOn-item" >Publisher</div>
      <input required type="text" onchange="testName(this)" name="publisher" class="InputAddOn-field">
    </div>
    <div class="InputAddOn">
      <div class="InputAddOn-item" >Category</div>
      <select name="category" class="InputAddOn-field">
	{% for c in categories  %}
	<option value='{{ c.id }}' >{{ c.subject }}</option>
	{% endfor %}
      </select>
    </div>
    <div class="InputAddOn">
      <div class="InputAddOn-item" >Language</div>
      <select name="language" class="InputAddOn-field">
		{% for l in languages %}
		<option value="{{l.id}}">{{l.getLangName()}}</option>
		{%endfor%}
		</select>
    </div>
    <div class="InputAddOn">
      <div class="InputAddOn-item" >Type</div>
      <select name="type" class="InputAddOn-field">
	{% for t in types %}
	<option value='{{ t.id }}' >{{ t.name }}</option>
	{% endfor %}
      </select>
    </div>
    <div class="InputAddOn">
      <div class="InputAddOn-item" >Bookable</div>
      <div class="InputAddOn-field"><input type="checkbox" name="bookable" checked></div>
    </div>
    <div class="InputAddOn">
      <div class="InputAddOn-item" >Cost (USD $)</div>
      <input required type="number" step="0.01" onchange="testPrice(this)" min="0" name="cost" class="InputAddOn-field">
    </div>
    <div class="InputAddOn">
      <div class="InputAddOn-item" >ISBN (optional)</div>
      <input type="number" name="isbn" class="InputAddOn-field">
    </div>
	{% if mode == 'add' %}
    <div class="InputAddOn">
      <div class="InputAddOn-item" >Units</div>
      <input type="number" name="units" class="InputAddOn-field" value=1>
    </div>
	{% endif %}
    <div class="InputAddOn submit-login">
      <button type="submit" class="InputAddOn-item">Submit</button>
    </div>
  </form>
</article>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('js/testForms.js') }}"></script>
{% endblock %}
