{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
  <h1 class="col-xs-12 col-md-6 center-block text-center">
  {% if mode == 'add' %}
	Add new (unique) item
  {% else %}
	Update item {{code}}
  {% endif %}
  </h1>
  <form action="/item/created/{{mode}}/{{code}}" method="post" onsubmit="return checkFormItem(this)" class="col-xs-12 col-md-8 center-block" autocomplete="on">
    {% if mode == 'add' %}
    <div class="form-group col-xs-12 col-md-6">
      <div class="input-group">
	<div class="input-group-addon" >Code</div>
	<input required type="text" name="code" onchange="testCodeItem(this)" class="form-control">
      </div>
    </div>
    {% endif %}
    <div class="form-group col-xs-12 col-md-6"><div class="input-group">
	<div class="input-group-addon" >Title</div>
	<input required type="text" onchange="testCity(this)" name="title" class="form-control" {% if mode != 'add' %} value="{{ item.getTitle() }}" {% endif %}>
    </div></div>
    <div class="form-group col-xs-12 col-md-6"><div class="input-group">
      <div class="input-group-addon" >Author</div>
      <input required type="text" onchange="testName(this)" name="author" class="form-control" {% if mode != 'add' %} value="{{ item.getAuthor() }}" {% endif %}>
    </div></div>
    <div class="form-group col-xs-12 col-md-6"><div class="input-group">
      <div class="input-group-addon" >Publication year</div>
      <input required type="number" onchange="testPubYear(this)" name="publication_year" class="form-control" {% if mode != 'add' %} value="{{ item.getPublicationYear() }}" {% endif %}>
    </div></div>
    <div class="form-group col-xs-12 col-md-6"><div class="input-group">
      <div class="input-group-addon" >Publisher</div>
      <input required type="text" onchange="testName(this)" name="publisher" class="form-control" {% if mode != 'add' %} value="{{ item.getPublisher() }}" {% endif %}>
    </div></div>
    <div class="form-group col-xs-12 col-md-6"><div class="input-group">
      <div class="input-group-addon" >Category</div>
      <select name="category" class="form-control">
		{% if mode != 'add' %} 
			<option selected value='{{ item.getCategory().getId() }}' >{{ item.getCategory().getSubject() }}</option>
			{% for c in categories  %}
				{% if c.id != item.getCategory().getId() %}
					<option value='{{ c.id }}' >{{ c.subject }}</option>
				{% endif %}
			{% endfor %}
		{% else %}
			{% for c in categories  %}
				<option value='{{ c.id }}' >{{ c.subject }}</option>
			{% endfor %}
		{% endif %}
      </select>
    </div></div>
    <div class="form-group col-xs-12 col-md-6"><div class="input-group">
      <div class="input-group-addon" >Language</div>
      <select name="language" class="form-control">
		{% if mode != 'add' %} 
			<option selected value='{{ item.getLanguage().getId() }}' >{{ item.getLanguage().getLangName() }}</option>
			{% for l in languages %}
				{% if l.id != item.getLanguage().getId() %}
					<option value='{{ l.id }}' >{{ l.langName }}</option>
				{% endif %}
			{%endfor%}
		{% else %}
			{% for l in languages %}
				<option value="{{l.id}}">{{l.langName}}</option>
			{%endfor%}
		{% endif %}
		
		</select>
    </div></div>
    <div class="form-group col-xs-12 col-md-6"><div class="input-group">
      <div class="input-group-addon" >Type</div>
      <select name="type" class="form-control">
		{% if mode != 'add' %} 
			<option selected value='{{ item.getTyppe().getId() }}' >{{ item.getTyppe().getName() }}</option>
			{% for t in types %}
				{% if t.id != item.getTyppe().getId() %}
					<option value='{{ t.id }}' >{{ t.name }}</option>
				{% endif %}
			{%endfor%}
		{% else %}
			{% for t in types %}
				<option value='{{ t.id }}' >{{ t.name }}</option>
			{%endfor%}
		{% endif %}
      </select>
    </div></div>
    <div class="form-group col-xs-12 col-md-6"><div class="input-group">
      <div class="input-group-addon" >Bookable</div>
      <div class="form-control"><input type="checkbox" name="bookable" checked></div>
    </div></div>
    <div class="form-group col-xs-12 col-md-6"><div class="input-group">
      <div class="input-group-addon" >Cost (USD $)</div>
      <input required type="number" step="0.01" onchange="testPrice(this)" min="0" name="cost" class="form-control" {% if mode != 'add' %} value="{{ item.getCost() }}" {% endif %}>
    </div></div>
    <div class="form-group col-xs-12 col-md-6"><div class="input-group">
      <div class="input-group-addon" >ISBN (optional)</div>
      <input type="number" name="isbn" class="form-control" {% if mode != 'add' %} value="{{ item.getIsbn() }}" {% endif %}>
    </div></div>
	{% if mode == 'add' %}
    <div class="form-group col-xs-12 col-md-6"><div class="input-group">
      <div class="input-group-addon" >Units</div>
      <input type="number" name="units" class="form-control" value=1 {% if mode != 'add' %} value="{{ item.getTotalUnit() }}" {% endif %}>
    </div></div>
	{% endif %}
    <div class="form-group col-xs-4 col-md-2 center-block"><div class="input-group">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div></div>
  </form>
</div>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('js/testForms.js') }}"></script>
{% endblock %}
