
{% extends 'base.html.twig' %}

{% block body %}
<nav class="menu-list">
  <form class="menu-list-search" action="/item/search" method="post">
    <div class="InputAddOn">
      <input class="InputAddOn-field" type="text" name="Search">
      <button class="InputAddOn-item" type="submit">Search</button>
    </div>
  </form>
  <div class="menu-list-element">
    Sort by category
  </div>
  <div class="menu-list-element">
    Sort by type of document
  </div>
  <div class="menu-list-element">
    Sort by language
  </div>
  <div class="menu-list-element">
    Sort by year
  </div>
</nav>


<article class="item-list">

<div class="table">
    <div class="row header">
      <div class="cell">
        Title
      </div>
      <div class="cell">
        Author
      </div>
      <div class="cell">
        Category
      </div>
      <div class="cell">
        Language
      </div>
      <div class="cell">
        Year
      </div>
      <div class="cell">
        Bookable
      </div>
	  <div class="cell">
		Note
      </div>
      <div class="cell">
        Details
      </div>
    </div>
	{% for item in items %}
	<div class="row">
		<div class="cell">
			{{item.title}}
		</div>
		<div class="cell">
			{{item.author}}
		</div>
		<div class="cell">
			{{item.subject}}
		</div>
		<div class="cell">
			{{item.language}}
		</div>
		<div class="cell">
			{{item.publication_year}}
		</div>
		<div class="cell">
			{{item.bookable}}
		</div>
		<div class="cell">
			{{item.note}}
		</div>
		<div class="cell">
			<button>details</button>
		</div>
	</div>
{% endfor %}
</div>

{% if page>1 %}
	<a href="/book/list/{{ page - 1 }}"><button class="InputAddOn-item" type="submit">Previous</button></a>
{% endif %}
{% if page<page_max %}
	<a href="/book/list/{{ page + 1 }}"><button class="InputAddOn-item" type="submit">Next</button></a>
{% endif %}


</article>
{% endblock %}
