
{% extends 'base.html.twig' %}

{% block body %}
<nav class="menu-list">
  <div class="menu-list-search">
    <form action="/item/search" method="post">
      <div class="InputAddOn">
	<input class="InputAddOn-field" type="text" name="search">
      </div>
      <div class="InputAddOn">
	<button class="InputAddOn-item" type="submit">Search</button>
      </div>
    </form>
  </div>
  <div class="menu-list-element">
    Sort by name
  </div>
  <div class="menu-list-element">
    Sort by category
  </div>
  <div class="menu-list-element">
    Sort by number of pages
  </div>
  <div class="menu-list-element">
    Something something
  </div>
  <div class="menu-list-element">
    Another thing
  </div>
  <div class="menu-list-element">
    Yet another option
  </div>
</nav>
<article class="item-list">
  <h1>Details of item {{ item.short_title }}</h1>
  <div class="item-info-list">
    <div class="item-info">Name : {{ item.title }}</div>
    <div class="item-info">Date of publication : {{ item.published }}</div>
    <div class="item-info">Author : {{ item.author }}</div>
    <div class="item-info">Editor : {{ item.editor }}</div>
    <div class="item-info">Category : {{ item.category }}</div>
    <div class="item-info">Available : {{ item.longName }}</div>
  </div>
  	<button class="InputAddOn-item" type="submit" onclick="goBack();">Previous</button>
	<a href="/item/item/{{ item.id }}"><button class="InputAddOn-item" type="submit">Book</button></a>
</article>
{% endblock %}
