
{% extends 'base.html.twig' %}

{% block body %}
<nav class="menu-list">
  <form class="menu-list-search sortingForm" action="/item/list" method="post">
    <div class="menu-list-element">
      <input class="InputAddOn-field" type="text" name="Search">
    </div>
    <div class="menu-list-element">
      Category : <br />
      <select name="category">
	<option value='' selected>All</option>
	{% for c in categories %}
	<option value="{{c.id}}">{{c.subject}}</option>
	{% endfor %}
      </select>
    </div>
    <div class="menu-list-element">
      Type : <br/>
      <select name="type">
	<option value='' selected>All</option>
	{% for t in types %}
	<option value="{{t.id}}">{{t.name}}</option>
	{% endfor %}
      </select>
    </div>
    <div class="menu-list-element">
      Language : <br/>
      <select name="language">
	<option value='' selected>All</option>
	{% for l in languages %}
	<option value="{{l.id}}">{{l.getLangName()}}</option>
	{%endfor%}
      </select>
    </div>
    <div class="menu-list-element">
      <button class="InputAddOn-item" type="submit">Search</button>
    </div>
  </form>
</nav>


<article id="item-list" class="item-list">

  <div class="table" id="table">
    <div class="header row">
      <div class="cell">
        Title
      </div>
      <div class="cell">
        Author
      </div>
      <div class="cell">
        Category
      </div>
      <div class="cell">
        Language
      </div>
      <div class="cell">
        Year
      </div>
      <div class="cell">
        Availability
      </div>
      <div class="cell">
	Note
      </div>
      <div class="cell">
	Total units
      </div>
    </div>	
    
    {% for item in items %}
    <div class="row toSelect toSelectItem" id={{item.code}}>
      <div class="cell">
	{{item.title}}
      </div>
      <div class="cell">
	{{item.author}}
      </div>
      <div class="cell">
	{{item.subject}}
      </div>
      <div class="cell">
	{{item.lang_name}}
      </div>
      <div class="cell">
	{{item.publication_year}}
      </div>
      <div class="cell">
	{{ item.bookable }}
      </div>
      <div class="cell">
	{% if item.note == NULL %} 0 {% else %}{{item.note}}{% endif %}
      </div>
      <div class="cell">
	{{ item.total_unit }}
      </div>
      <div class="cell">
	<button value={{item.code}} class="InputAddOn-item bookingButton"><img src="{{ asset('img/reservation.png') }}" style="width: 40px; height: 30px;"/></button>
      </div>
    </div>
    {% endfor %}
    
  </div>

  {% if page>1 %}
        <button value={{page-1}} id="prev" class="InputAddOn-item sortingButton">Previous</button>
  {% endif %}
  {% if page<page_max %}
	<button value={{page+1}} id="next" class="InputAddOn-item sortingButton">Next</button>
  {% endif %}


</article>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/tables.js') }}"></script>
<script src="{{ asset('js/ajax.js') }}"></script>
{% endblock %}
