
{% extends 'base.html.twig' %}

{% block body %}
<nav class="menu-list">
  <form class="menu-list-search" action="/item/search" method="post">
    <div class="InputAddOn">
      <input class="InputAddOn-field" type="text" name="Search">
      <button class="InputAddOn-item" type="submit">Search</button>
    </div>
  </form>
  <div class="menu-list-element">
    Category : <select name="category">
      {% for c in categories %}
      <option value="{{c.id}}">{{c.subject}}</option>
      {% endfor %}
      </select>
  </div>
  <div class="menu-list-element">
    Type : <select name="type">
      {% for t in types %}
      <option value="{{t.id}}">{{t.name}}</option>
      {% endfor %}
      </select>
  </div>
  <div class="menu-list-element">
    Sort by language
  </div>
</nav>

<article class="item-list">
  <h1>Details of item</h1>
  <div class="item-info-list">
    <div class="item-info">Name : {{ item.getTitle() }}</div>
    <div class="item-info">Date of publication : {{ item.getPublicationYear() }}</div>
    <div class="item-info">Author : {{ item.getAuthor() }}</div>
    <div class="item-info">Publisher : {{ item.getPublisher() }}</div>
    <div class="item-info">Category : {{ item.getCategory().getSubject() }}</div>
    <div class="item-info">Available : {{ item.getTitle() }}</div>
  </div>
  	<button class="InputAddOn-item" type="submit" onclick="goBack();">Previous</button>
	<a href="/item/book/{{ item.getCode() }}"><button class="InputAddOn-item" type="submit">Book</button></a>
</article>
{% endblock %}
