
{% extends 'base.html.twig' %}

{% block body %}
<nav class="menu-list">
  <form class="menu-list-search" action="/item/search" method="post">
    <div class="InputAddOn">
      <input class="InputAddOn-field" type="text" name="Search">
      <button class="InputAddOn-item" type="submit">Search</button>
	</div>
  </form>
  <form class="menu-list-search" action="/item/sort" method="post">
	<div class="menu-list-element">
		Category : <select name="category">
		<option value='' selected>-</option>
		{% for c in categories %}
		<option value="{{c.id}}">{{c.subject}}</option>
		{% endfor %}
		</select>
	</div>
	<div class="menu-list-element">
		Type : <select name="type">
		<option value='' selected>-</option>
		{% for t in types %}
		<option value="{{t.id}}">{{t.name}}</option>
		{% endfor %}
		</select>
	</div>
	<div class="menu-list-element">
		Language : <select name="language">
		<option value='' selected>-</option>
		{% for l in languages %}
		<option value="{{l.id}}">{{l.getLangName()}}</option>
		{%endfor%}
		</select>
	</div>
	<div class="menu-list-element">
		<button class="InputAddOn-item" type="submit">Sort</button>
	</div>
  </form>
</nav>
	

<article class="item-list">

<div class="table">
    <div class="header row">
      <div class="cell">
        Title
      </div>
      <div class="cell">
        Author
      </div>
      <div class="cell">
        Category
      </div>
      <div class="cell">
        Language
      </div>
      <div class="cell">
        Year
      </div>
      <div class="cell">
        Availability
      </div>
	  <div class="cell">
		Note
      </div>
	  {% if app.session.get('isAdmin') %}
		<div class="cell">
			Total units
		</div>
	  {% endif %}
    </div>
	{% for item in items %}
	<div class="row" id={{item.code}}>
		<div class="cell">
			{{item.title}}
		</div>
		<div class="cell">
			{{item.author}}
		</div>
		<div class="cell">
			{{item.subject}}
		</div>
		<div class="cell">
			{{item.lang_name}}
		</div>
		<div class="cell">
			{{item.publication_year}}
		</div>
		<div class="cell">
			{{ item.bookable }}
		</div>
		<div class="cell">
			{% if item.note == NULL %} 0 {% else %}{{item.note}}{% endif %}
		</div>
		{% if app.session.get('isAdmin') %}
		<div class="cell">
			{{ item.total_unit }}
		</div>
	  {% endif %}
		<div class="cell">
			<a href="/item/book/{{item.code}}"><button>Book</button></a>
		</div>
	</div>
{% endfor %}
</div>

{% if page>1 %}
	{% if method == "list" %}
		<a href="/item/list/{{ page - 1 }}"><button class="InputAddOn-item" type="submit">Previous</button></a>
	{% else %}	
		<a href="/item/sort/{{ page - 1 }}"><button class="InputAddOn-item" type="submit">Previous</button></a>
	{% endif %}
{% endif %}
{% if page<page_max %}
	{% if method == "list" %}
		<a href="/item/list/{{ page + 1 }}"><button class="InputAddOn-item" type="submit">Next</button></a>
	{% else %}
		<a href="/item/sort/{{ page + 1 }}"><button class="InputAddOn-item" type="submit">Next</button></a>
	{% endif %}		
{% endif %}


</article>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/tables.js') }}"></script>
{% endblock %}